<footer class="footer--root">
    <div class="row">
        {% if informations %}
          <div class="col-sm-4">
            <h5 class="footer--block--heading block-heading">{{ text_information }}</h5>
            <ul class="list-unstyled paragraph">
                {% for information in informations %}
                  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}
            </ul>
          </div>
        {% endif %}
      <div class="col-sm-4">
        <h5 class="footer--block--heading block-heading">{{ text_service }}</h5>
        <ul class="list-unstyled paragraph">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5 class="footer--block--heading block-heading">{{ text_account }}</h5>
        <ul class="list-unstyled paragraph">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <p class="paragraph">{{ powered }}</p>
</footer>
{% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>