{{ header }}
<div id="common-home">
    <div itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Black Amber">
        <meta itemprop="description" content="Ми пропонуємо вам гарний вибір якісних матеріалів для виготовлення свічок, дифузорів, саше , косметики, мила і т.д
        Тут ми зібрали кращих виробників ароматів, восків, барвників з Європи та США.
        Силіконові форми для свічок ми виготовляємо самі з силікону високої якості за допомогою вакуумного обладнання.
        Зазвичай виготовляємо під замовлення. Терміни виготовлення 5-7 днів.">
        <meta itemprop="image" content="https://black-amber.com.ua/i/image/catalog/BlackAmber.png">
        <meta itemprop="telephone" content="+38 (098) 783 66 88">
        <span itemprop="email" content="info@black-amber.com.ua">
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="streetAddress" content="вулиця Віталія Матусевича, 10">
        <meta itemprop="addressLocality" content="Кривий Ріг">
        <meta itemprop="addressRegion" content="Дніпропетровська область">
        </div>
    </div>
    {{ content_top }}
    <div id="content" class="home-content">
        <div class="row">
                {{ column_left }}
            <div class="col-md-10 col-sm-12">
                {{ content_bottom }}
            </div>
        </div>
    </div>
</div>
{{ footer }}