{{ header }}
<div id="common-home">
    {{ content_top }}
    <div id="content" class="home-content">
        <div class="row">
                {{ column_left }}
            <div class="col-md-10 col-sm-12">
                {{ content_bottom }}
            </div>
        </div>
    </div>
</div>
{{ footer }}